* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header.header {
  background-color: #21232e; }
  header.header .header-wrap {
    background-image: url("../img/m-h-night.jpg");
    min-height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 300px/160px 0;
    background-repeat: no-repeat;
    position: relative; }
    header.header .header-wrap .landing-logo {
      display: flex;
      color: white;
      font-size: 10pt;
      font-weight: bold;
      font-family: 'Hind', sans-serif;
      position: absolute;
      left: 10%;
      top: 3%; }
      header.header .header-wrap .landing-logo img {
        width: 20px;
        height: 20px; }
      header.header .header-wrap .landing-logo p {
        margin: 3px 0 0 5px;
        line-height: 0.8em; }
        header.header .header-wrap .landing-logo p span {
          display: block;
          font-size: 5pt;
          text-align: center; }
    header.header .header-wrap .header_heading {
      color: white;
      width: 20%;
      min-width: 250px;
      font-size: 25pt;
      font-weight: bold;
      font-family: 'Hind', sans-serif;
      margin: 0 0 15px 0;
      line-height: 1em;
      position: absolute;
      left: 10%;
      top: 20%;
      z-index: 1; }
      header.header .header-wrap .header_heading:after {
        width: 140px;
        height: 27px;
        left: 1px;
        bottom: 1px;
        content: "";
        background-color: #ff4e33;
        position: absolute;
        background-color: #ff4e33;
        z-index: -1; }
    header.header .header-wrap .header_text {
      white-space: pre-line;
      color: white;
      width: 40%;
      font-size: 6pt;
      font-family: 'Hind', sans-serif;
      line-height: 1.5em;
      position: absolute;
      left: 10%;
      top: 48%; }
    header.header .header-wrap div {
      color: white;
      position: absolute;
      left: 10%;
      top: 70%; }
      header.header .header-wrap div .header_button {
        background-color: #e3ac00;
        color: white;
        width: 70px;
        height: 20px;
        border-radius: 2px;
        font-size: 6pt;
        font-weight: bold;
        border-color: transparent;
        margin-right: 63px; }
      header.header .header-wrap div .login {
        color: white;
        font-size: 7pt;
        font-family: 'Hind', sans-serif; }
        header.header .header-wrap div .login:hover {
          color: gray; }
        header.header .header-wrap div .login:active {
          color: #4E5FE3; }

main.section {
  background-color: #21232e;
  position: relative;
  padding: 20px 0 90px; }
  main.section .section_text {
    position: absolute;
    top: 10px;
    left: 39%;
    color: white;
    font-family: 'Hind', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    z-index: 1; }
    main.section .section_text:after {
      width: 71px;
      height: 22px;
      left: 87px;
      bottom: 7px;
      content: "";
      background-color: #ff4e33;
      position: absolute;
      background-color: #ff4e33;
      z-index: -1; }
  main.section .section_card_wrap {
    margin: 15px auto; }
    main.section .section_card_wrap .section_card {
      width: 600px;
      height: 150px;
      background-color: #3b3f50;
      margin: 10px auto;
      border-radius: 3px;
      position: relative; }
      main.section .section_card_wrap .section_card img {
        margin: 10px auto 10px 10px;
        height: 130px;
        border-radius: 3px; }
      main.section .section_card_wrap .section_card .section_card_right_container {
        display: inline-block;
        width: 50%;
        height: 100%;
        position: absolute;
        right: 50px; }
        main.section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
          color: white;
          font-size: 10pt;
          font-family: 'Source Sans Pro', sans-serif;
          text-align: center;
          position: absolute;
          top: 23%;
          right: 40%; }
        main.section .section_card_wrap .section_card .section_card_right_container .section_card_text {
          color: lightgray;
          font-size: 6pt;
          font-family: 'Hind', sans-serif;
          line-height: 1.5em;
          width: 95%;
          margin-left: 5px;
          position: absolute;
          bottom: 28%;
          text-align: justify; }
        main.section .section_card_wrap .section_card .section_card_right_container .section_link {
          color: lightgray;
          font-size: 7pt;
          font-family: 'Hind', sans-serif;
          position: absolute;
          right: 50%;
          margin-right: -25px;
          bottom: 15%; }
          main.section .section_card_wrap .section_card .section_card_right_container .section_link:hover {
            color: #545454; }
          main.section .section_card_wrap .section_card .section_card_right_container .section_link:active {
            color: #4E5FE3; }
  main.section .section_banner {
    width: 650px;
    height: 70px;
    border-radius: 3px;
    background: -webkit-linear-gradient(45deg, #e3ac00, #922b52);
    position: absolute;
    left: 50%;
    margin-left: -325px;
    bottom: -35px; }
    main.section .section_banner .section_banner_text_wrap {
      display: inline-block;
      position: relative; }
      main.section .section_banner .section_banner_text_wrap .section_banner_heading {
        color: white;
        font-size: 10pt;
        font-family: 'Hind', sans-serif;
        font-weight: bold;
        margin: 15px auto auto 70px;
        z-index: -99;
        z-index: 1; }
        main.section .section_banner .section_banner_text_wrap .section_banner_heading:after {
          width: 28px;
          height: 20px;
          left: 125px;
          bottom: 20px;
          content: "";
          background-color: #ff4e33;
          position: absolute;
          background-color: #ff4e33;
          z-index: -1; }
      main.section .section_banner .section_banner_text_wrap .section_banner_text {
        color: lightgray;
        font-size: 6pt;
        font-family: 'Hind', sans-serif;
        margin: 5px auto auto 70px; }
    main.section .section_banner .section_banner_button {
      background-color: #e3ac00;
      color: white;
      width: 70px;
      height: 20px;
      border-radius: 2px;
      font-size: 6pt;
      font-weight: bold;
      border-color: transparent;
      float: right;
      margin-right: 70px;
      margin-top: 25px; }

.footer {
  background-color: #3b3f50;
  padding: 20px; }
  .footer .footer-wrap {
    padding-top: 55px;
    position: relative; }
    .footer .footer-wrap .landing-logo {
      display: flex;
      color: white;
      font-size: 10pt;
      font-weight: bold;
      font-family: 'Hind', sans-serif;
      color: white;
      position: absolute;
      left: 10%;
      top: 56%; }
      .footer .footer-wrap .landing-logo img {
        width: 20px;
        height: 20px; }
      .footer .footer-wrap .landing-logo p {
        margin: 3px 0 0 5px;
        line-height: 0.8em; }
        .footer .footer-wrap .landing-logo p span {
          display: block;
          font-size: 5pt;
          text-align: center; }
    .footer .footer-wrap p.footer_text {
      width: 16%;
      font-size: 4pt;
      font-family: 'Hind', sans-serif;
      color: lightgray;
      line-height: 1.5em;
      position: absolute;
      left: 40%;
      bottom: 22%; }
    .footer .footer-wrap .footer-cr {
      font-size: 6pt;
      font-family: 'Hind', sans-serif;
      color: lightgray;
      position: absolute;
      right: 10%;
      bottom: 30%; }
