$bgHeaderImage: url('../img/m-h-night.jpg');
$mainFontColor: white;
$mainBackgroundColor: #21232e;
$sectionCardBg: #3b3f50;
$sectionCardRightFontColor: lightgray;
$buttonColor: #e3ac00;
$rightGradientColor: #922b52;
$borderRadius: 3px;
$textLineHeight: 1.5em;
$highlighterColor: #ff4e33;