$bgHeaderImage: url('../img/m-h-day.jpg');
$mainFontColor: #2c2f3c;
$mainBackgroundColor: white;
$sectionCardBg: #21232e;
$sectionCardRightFontColor: lightgray;
$buttonColor: #699900;
$rightGradientColor: #2f5dd1;
$borderRadius: 3px;
$textLineHeight: 1.5em;
$highlighterColor: #14a0c7;